<html>
<body>
    <h1>Passport Index</h1>
    <p>Enter the name of the country:</p>
    <form method="POST">
        <input name="country">
        <input type="submit">
    </form>
    <p>Country: {{ variable1 }}</p>
    <p>Passport Index: {{ variable2 }}</p>
    <p>Travel Freedom Score: {{ variable3 }}</p>
    <p>Rank: {{ variable4 }}</p>
    <p>Country that has highest freedom score: {{ variable5a }} | Rank: {{ variable5b }}</p>
    <p>Country that has lowest freedom score:: {{ variable6a }} | Rank: {{ variable6b }}</p>
    <a href="visas.html">Click to View Visa Requirements</a> 
</body>
</html>