<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>United States</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Passport</th>
      <td>United States</td>
    </tr>
    <tr>
      <th>Afghanistan</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Albania</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Algeria</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Andorra</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Angola</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Antigua and Barbuda</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Argentina</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Armenia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>eTA Required</td>
    </tr>
    <tr>
      <th>Austria</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Azerbaijan</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Bahamas</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Bahrain</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Bangladesh</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Barbados</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Belarus</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Belgium</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Belize</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Benin</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Bhutan</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Bolivia</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Bosnia and Herzegovina</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Botswana</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Brunei</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Bulgaria</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Burkina Faso</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Burundi</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Cambodia</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Cameroon</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Cape Verde</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Central African Republic</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Chad</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Chile</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>China</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Colombia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Comoros</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Congo</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Costa Rica</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Croatia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Cuba</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Cyprus</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Czech Republic</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>DR Congo</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Denmark</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Djibouti</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Dominica</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Dominican Republic</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Ecuador</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Egypt</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>El Salvador</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Equatorial Guinea</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Eritrea</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Estonia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Ethiopia</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Fiji</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Finland</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Gabon</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Gambia</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Georgia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Ghana</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Greece</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Grenada</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Guatemala</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Guinea</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Guinea-Bissau</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Guyana</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Haiti</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Honduras</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Hong Kong</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Hungary</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Iceland</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>India</th>
      <td>eTA Required</td>
    </tr>
    <tr>
      <th>Indonesia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Iran</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Iraq</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Ireland</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Israel</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Ivory Coast</th>
      <td>eTA Required</td>
    </tr>
    <tr>
      <th>Jamaica</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Jordan</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Kazakhstan</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Kenya</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Kiribati</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Kosovo</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Kuwait</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Kyrgyzstan</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Laos</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Latvia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Lebanon</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Lesotho</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Liberia</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Libya</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Liechtenstein</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Lithuania</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Luxembourg</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Macao</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Madagascar</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Malawi</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Malaysia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Maldives</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Mali</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Malta</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Marshall Islands</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Mauritania</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Mauritius</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Mexico</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Micronesia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Moldova</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Monaco</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Mongolia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Montenegro</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Morocco</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Mozambique</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Myanmar</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Namibia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Nauru</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Nepal</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>New Zealand</th>
      <td>eTA Required</td>
    </tr>
    <tr>
      <th>Nicaragua</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Niger</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Nigeria</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>North Korea</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>North Macedonia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Norway</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Oman</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Pakistan</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Palau</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Palestine</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Panama</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Papua New Guinea</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Paraguay</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Peru</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Philippines</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Portugal</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Qatar</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Romania</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Russia</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Rwanda</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Saint Kitts and Nevis</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Saint Lucia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Saint Vincent and the Grenadines</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Samoa</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>San Marino</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Sao Tome and Principe</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Saudi Arabia</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Senegal</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Serbia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Seychelles</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Sierra Leone</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Singapore</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Slovakia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Slovenia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Solomon Islands</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Somalia</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>South Korea</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>South Sudan</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Sri Lanka</th>
      <td>eTA Required</td>
    </tr>
    <tr>
      <th>Sudan</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Suriname</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Swaziland</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Sweden</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Switzerland</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Syria</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Taiwan</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Tajikistan</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Tanzania</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Thailand</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Timor-Leste</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Togo</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Tonga</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Trinidad and Tobago</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Tunisia</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Turkey</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Turkmenistan</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Tuvalu</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Uganda</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>United Arab Emirates</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>United Kingdom</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>United States</th>
      <td>Passport Not Required</td>
    </tr>
    <tr>
      <th>Uruguay</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Uzbekistan</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Vanuatu</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Vatican</th>
      <td>Visa Free</td>
    </tr>
    <tr>
      <th>Venezuela</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Vietnam</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Yemen</th>
      <td>Visa Required</td>
    </tr>
    <tr>
      <th>Zambia</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Zimbabwe</th>
      <td>Visa on Arrial</td>
    </tr>
    <tr>
      <th>Freedom_Score</th>
      <td>447</td>
    </tr>
    <tr>
      <th>Rank</th>
      <td>20</td>
    </tr>
  </tbody>
</table>